snippet beg
\begin{$1}
$2
\end{$1}
endsnippet

# Snippets relating to integrals
snippet int
\int $1
endsnippet

snippet int_
\int_{$1} $2
endsnippet

snippet int_^
\int_{$1}^{$2} $3
endsnippet

# Summation snippets
snippet sum
\sum $1
endsnippet

snippet sum_
\sum_{$1} $2
endsnippet

snippet sum_^
\sum_{$1}^{$2} $3
endsnippet
